<!DOCTYPE html>
<html>

<head>
    <title><%=data.pageTitle  %></title>
</head>

<body>
    <%- include('partials/header.ejs') %>

    <h1>Ana Sayfa</h1>
    <p><%=data.pageDescription %></p>

    <%- include('partials/footer.ejs') %>
</body>

</html>